{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
{% translate "Statuses" %}
{% endblock %}

{% block content %}
<h1>{% translate "Statuses" %}</h1>
<a href="{% url "statuses:create" %}" class="btn btn-primary mt-3">{% translate "Create status" %}</a>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses  %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td>
                <div><a href="{% url "statuses:update" status.id %}">{% translate "Update" %}</a></div>
                <div><a href="{% url "statuses:delete" status.id %}">{% translate "Delete" %}</a></div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}