{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-lg">
            <a href="{% url "index" %}" class="navbar-brand">{% translate "Task manager" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="{% url "users:index" %}" class="nav-link">{% translate "Users" %}</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url "statuses:index" %}" class="nav-link">{% translate "Statuses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "tasks:index" %}" class="nav-link">{% translate "Tasks" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "labels:index" %}" class="nav-link">{% translate "Labels" %}</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url "logout" %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="nav-link" value="{% translate "Logout" %}">
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item"><a href="{% url "login" %}" class="nav-link">{% translate "Login" %}</a></li>
                    <li class="nav-item"><a href="{% url "users:create" %}" class="nav-link">{% translate "Registration" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% bootstrap_messages %}
    </div>
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>